{% extends 'main_app/index.html' %}
{% load static %}
{% load my_extras %}
{% block body_block %}

    <br>

    {% if songs %}

        <div id="album-container" class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h5>{{ album.name }} - ({{ album.year }})</h5>
                    <ul>
                        {% for song in songs %}

                            <li><a href="{{ root_url }}/static/sounds/originals/{{ song.filename }}" target="_blank"
                                   rel="noopener noreferrer">{{ song.filename|display_album_name }}</a> <span
                                    id="span-song-one">--> {{ song.tempo|floatformat:"0" }} bpm --> {{ song.duration|get_min }}</span>
                                <span id="span-song-two"> --> {{ song.notes|display_notes_song }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                    <img src="{{ root_url }}/{{ album.cover }}" alt={{ album.name }} width="300" height="300">
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}